body {
background-image: url('../../images/background.jpg');
background-size: cover;
color:  #ff6600 ;
text-shadow:
0 0 1px black,
0 0 1px black;
}
*{
	margin:0px;
  padding:0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectable:hover{
  cursor: pointer;
}

div#Indice{
font-family: Didot, serif;
padding: 30px;
padding-bottom: 30px;
font-size: 32px;
width: 33%;
display:flex;
justify-content:center;
align-items: center;
flex-direction: column;
margin: auto;
}
div#Indice h2{
text-align: center;
font-size: 80px;
}
div#Indice ul{
font-size: 50px;
color: #ff7b00;
}
div#Indice ul li{
list-style: none;
}
div#Combos-y-Ofertas{
font-family: Didot, serif;
padding: 30px;
padding-bottom: 30px;
font-size: 32px;
width: 33%;
display:flex;
justify-content:center;
align-items: center;
flex-direction: column;
margin: auto;
}
div#Combos-y-Ofertas td{
font-size: 24px;
color: #ff7b00;
}
div#Combos-y-Ofertas h2{
text-align: center;
}
div#Combos-y-Ofertas table img{
	width:100px;height:100px;
}
div#Combos
div#Menu{
font-size: 24px;
color: #ff7b00;
text-align:center;
width:33%;
display:flex;
justify-content:center;
align-items: center;
flex-direction: column;
margin: auto;
}
div#Menu table{
border: 0px solid black;
font-size: 24px;;
}
div#Menu table h2{
text-align: center;
font-family: 'Vollkorn', serif;
font-size: 60px;
}
div#Menu table img{
	width:100px;height:100px;
}
div#Chef table{
  border-spacing: 100px 50px;
}
div#Chef h1{
	color: #ff0066;
  font-size: 60px;
}
div#Chef h4{
	color: black;
	font-size: 40px;
}
div#Chef #cant {
  display: inline;
}
#contenedor{
  position: sticky;
  display: grid;
  grid-template-columns: auto auto;
}

#botones{
  grid-column: 2/3;
}

div#Chef button{
  position: relative;

}

.Flecha {
  position: fixed;
  top: 80%;
}

#der {
  right: 5px;
}
#izq {
  left: 5px;
}
.Boton {
	position: sticky;
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: #fc0;
  border: none;
  height: 3em;
  border-radius: 1.5em;
  filter: drop-shadow(0px 0px 5px #000);
  transition:0.3s;
}
.Boton:hover {
  --background-color: #38a;
  background-color: #2d5;
  color: #fff;
  cursor: pointer;
}
.Boton:active {
  box-shadow: 0 0 1em black inset;
  background-color: #1c4;
  filter: drop-shadow(0px 0px 0px #000);
}

/* item_on debe estar al final para mantener precedencia */
.item_on {
  color: #400080;
	text-decoration: underline violet;
}

.center{
  margin-left:auto;
  margin-right:auto;
}

#Precio{
  text-align: center;
  font-size: 50px;
}
.Ingreso{
	font-family: 'Acme', sans-serif;
	font-size: 60px;
	color: #ffc400;
  text-align: center;
}
.Ingreso input{
  font-family: 'Anton', sans-serif;
	background: transparent;
	text-align: center;
  width: 100%;
  font-size: 60px;
  border: none;
}

.Ingreso input:focus {
  outline: none;
}