body {
background-image: url("https://img.freepik.com/foto-gratis/tablero-madera-fondo-tabl-vacio_36325-156.jpg?size=626&ext=jpg");
background-repeat: no-repeat;
background-size:100% 100%;
color:  #ff6600 ;
text-shadow:
0 0 1px black,
0 0 1px black;
}
*{
	margin:0px;
	padding:0px;
}

div#Flecha-izquierda{
float:left;
}
div#Flecha-derecha{
float:right;
}
div#Indice{
font-family: Didot, serif;
padding: 30px;
padding-bottom: 30px;
font-size: 32px;
width: 33%;
display:flex;
justify-content:center;
align-items: center;
flex-direction: column;
}
div#Indice h2{
text-align: center;
}
div#Indice ul{
font-size: 24px;
color: #ff7b00;
}
div#Indice ul li{
list-style: none;
}
div#Combos-y-Ofertas{
font-family: Didot, serif;
padding: 30px;
padding-bottom: 30px;
font-size: 32px;
width: 33%;
display:flex;
justify-content:center;
align-items: center;
flex-direction: column;
}
div#Combos-y-Ofertas ul{
font-size: 24px;
color: #ff7b00;
}
div#Combos-y-Ofertas ul li{
list-style: none;
}
div#Combos-y-Ofertas h2{
text-align: center;
}
div#Menu{
font-size: 24px;
color: #ff7b00;
text-align:center;
width:33%;
display:flex;
justify-content:center;
align-items: center;
flex-direction: column;
}
div#Menu h2{
font-size: 60px;
}
div#Carta{
display:flex;
justify-content: space-between;
align-items: center;
}
#EncabezadoCarta{
-webkit-column-span: all;
column-span: all;
font-size: 32px;
}
.Flecha{
  filter: drop-shadow(0px 0px 5px #000);
	position: fixed;
}
.Boton {
	position: sticky;
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: #fc0;
  border: none;
  height: 3em;
  border-radius: 1.5em;
  filter: drop-shadow(0px 0px 5px #000);
  transition:0.3s;
}
.Boton:hover {
  --background-color: #38a;
  background-color: #2d5;
  color: #fff;
}

.Boton:active {
  box-shadow: 0 0 1em black inset;
  background-color: #1c4;
  filter: drop-shadow(0px 0px 0px #000);
}

/* item_on debe estar al final para mantener precedencia */
.item_on {
  color: black;
}
