body {
    background-image: url('../../images/fondo1ggg.png');
    background-size: cover;
    color:  black;
    text-shadow:
    0 0 1px black,
    0 0 1px black;
    }
    .Container {
      line-height: 400%;
      width:70%;
      height: 100px;
      margin: 30px auto;
      border: 3px solid #3366ff;
      text-align:center;
    }
    .Container p{
      margin-top:18px;
      font-family: 'Roboto Slab', serif;
      display: inline-block;
      padding-left:15%;
      padding-right:15%;
      font-size: 30px;
    }
    